*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.7z
*.syso

build/

# build specific
misc/version.go
cmd/*/resources.rc
cmd/*/manifest.xml
wsl-ssh-agent.zip
wsl-ssh-agent.zip.minisig
wsl-ssh-agent.json
