*.o
*.a
*.exe
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.svg
*.7z

*.[568vq]
[568vq].out

.undodir/
.idea/
.vscode/
build/
release/
bin/
_obj/
pkg/
_test/
testdata/

# build specific
misc/version.go

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
.session.vim
.set-project-env
*.swp
